<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue js tutorial</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="vue-app">
      <h1>Loop v-for</h1>

      <h5>From array</h5>
      <ul>
        <li v-for="(character,index) in characters">
          {{ index }}. {{ character }}
        </li>
      </ul>
      <h5>From Object array</h5>
      <ul>
        <li v-for="(ninja,index) in ninjas">
          {{ index }}.{{ ninja.name }} - {{ ninja.age }}
        </li>
      </ul>

      <h5>Loop inside template tag</h5>
      <template v-for="(ninja,index) in ninjas">
        <h6>{{ index }}. {{ ninja.name }}</h6>
        <p>Age: {{ ninja.age }}</p>
      </template>

      <h5>Loop inside template tag and show key value</h5>
      <template v-for="(ninja,index) in ninjas">
        <p v-for="(val,key) in ninja">{{ key }} ===> {{ val }}</p>
      </template>
    </div>
    <script src="app.js"></script>
  </body>
</html>
